@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.news > img{
    width: 400px;
    margin: 10px;
}
.header{
    height: 90px;
    background: white;
    box-shadow: 0px 0px 2px 0px gray;
    top: 0;
    position: sticky;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}