@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Poppins', sans-serif;
    /* background: #F398BD; */
    background: #EFF3F4;
}
.articles{
    background: white;
    padding: 20px;
}
.news > img{
    width: 400px;
    margin: 10px;
}

/* navbar section */
.navbar{
    height: 80px;
    background: #262626;
}
.active{
    font-weight: bold;
}
.navbar-brand{
    color: #7AA42E;
    font-weight: bold;
    font-size: 25px;
}
.navbar-brand:hover{
    color: black;
}
.navbar-nav > li > a{
    color: white;
}
.navbar-nav > li > a:hover{
    color: black;
}
.input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    margin-left: 8px;
}
/* hero section */
.hero_section{
    background: #161819;
    height: 90vh;
}
.hero_section > div >  div > h1{
    color: #EEEEEE;
    font-weight: 800;
}
.hero_section > div > div > p{
    color: #EEEEEE;
}
.btn{
    background: #7AA42E;
    outline: 0;
    color: #EEEEEE;
    height: 50px;
    border-radius: 30px;
}
.btn:hover{
    color: #EEEEEE;
}
/* news item */
.links{
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links > li{
    list-style-type: none;
}
.title{
    font-weight: bold;
}
.article_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article_arrow{
    cursor: pointer;
}
/* footer */
footer{
    background: #161819;
    height: 100px;
    color: #EEEEEE;
}