@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Poppins', sans-serif;
}
.news > img{
    width: 400px;
    margin: 10px;
}

/* navbar section */
.navbar{
    background: white;
    height: 80px;
    box-shadow: 0px 0px 1px 0px gray;
}
.navbar-brand{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.navbar-brand:hover{
    color: black;
}
.navbar-nav > li > a{
    color: black;
}
.navbar-nav > li > a:hover{
    color: black;
}

/* news item */
.item{
    margin-top: 10vh;
}
.title{
    font-weight: 700;
}
.left{
    border-right:  1px solid #163A1D;
    padding-right: 30px;
}
.description_title{
    margin-top: 20vh;
    margin-bottom: 10vh;
}
.description_title > h5{
    font-weight: bold;
}
.right{
    padding-left: 30px;
}
/* .right > p{
    color: gray;
} */