@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Poppins', sans-serif;
    /* background: #F398BD; */
}
/* .articles{
    background: white;
    padding: 20px;
} */
.news > img{
    width: 400px;
    margin: 10px;
}

/* navbar section */
.navbar{
    height: 80px;
    /* background: #262626; */
    /* background: white; */
    background: #606162;
}
.active{
    font-weight: bold;
}
.navbar-brand{
    color: #318d8c;
    font-weight: bold;
    font-size: 25px;
}
.navbar-brand:hover{
    color: #EEEEEE;
}
.navbar-nav > li > a{
    color: white;
}
.navbar-nav > li > a:hover{
    color: #EEEEEE;
}
.input{
    height: 45px;
    border-radius: 30px;
    width: 350px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
    margin-left: 8px;
    background: #868D93;
}
::-webkit-input-placeholder{
    color: #EEEEEE;
    padding-left: 20px;
}
/* hero section */
.hero_section{
    background: white;
    height: 100vh;
}
  .hero{
      display: flex;
      padding-top: 3vh;
  }
  .hero > .first{
      flex: 0.7;
      margin: 10px;
  }
  .hero > .second{
      flex: 0.3;
      margin: 10px;
  }
  .hero > .second > img{
      margin-bottom: 10px;
  }

  /* carousel */
  .carousel-item{
    min-height: 300px;
    background: no-repeat scroll center scroll;
    -webkit-background-sizs: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    opacity: 0.7;
}
.carousel-caption{
    bottom: 100px;
}
.carousel-caption h5{
    font-size: 30px;
    font-weight: 700;
}
.title{
    font-weight: bold;
}
.article_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.article_arrow{
    cursor: pointer;
}
.item{
    height: 250px;
}
.col-md-6 > h6{
    font-weight: bold;
}
/* footer */
footer{
    background: #161819;
    color: #EEEEEE;
}