{% extends 'base.html' %}


{% block content %}
<div class="hero_section">
  <div class="container-fluid row">
    <div class="col-md-4 mt-5">
      <h1>Get the latest and trending news from around the world.</h1>
      <p>We are a reliable, honest and customer oriented news agency with news trends ranging from Politics, Business, Sports and many more...</p>
      <button class="btn">Subscribe for notifications</button>
    </div>
    <div class="col-md-8 mt-4">
      <img class="img-fluid" src="https://codetipi.com/zeen/img/zeen-mock-1440.png" alt="">
    </div>
  </div>
</div>
   <div class="container">
       <div class="row articles">
    {% for news in everything %}
          <div class="col-md-4">
              <h4 class="title mb-4 mt-5">{{ news.title }}</h4>
              <small>Publish date: {{ news.publishedAt }}</small>
              <img src="{{ news.urlToImage }}" alt="" class="img-fluid">
              <p class="mt-3">{{ news.description }}</p>
              <div class="article_footer">
                <h6>Author: <strong>{{ news.author }}</strong></h6>
                <small>Reade article</small><a href="{{ news.url }}"><img class="article_arrow" src="https://img.icons8.com/ios/30/000000/right--v1.png"/></a>
              </div>
          </div>
    {% endfor %}
       </div>
   </div>

{% endblock %}